<footer>
        <div class="footer-area footer-padding">
            <div class="footer-wrapper ">
                <div class="container">
                    <div class="row d-flex justify-content-evenly">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="single-footer-caption mb-30">
                                    <div class="footer-logo mb-25" id="pic3">
                                        <a href="index.html"><img src="../assets/img/logo/logo2.png"
                                                alt="Prestigious Solutions (Pty) Ltd">
                                            </a>
                                    </div>
                                    <div class="footer-tittle">
                                        <div class="footer-pera row">
                                            <p class="col-6"> We simplify ICT for modern businesses—streamlining systems, securing data, and keeping your operations moving fast with dependable service. <br> <strong>Follow us for updates:</strong>
                                            </p>
                                        </div>
                                    </div>

                                    <ul class="footer-social">
                                        <ul class="footer-social">
                                            <li><a class="i-border" href="https://www.linkedin.com/company/prestigious-solutions-pty-ltd/posts/?feedView=all" target="_blank"><i
                                                        class="fa-brands fa-linkedin-in"></i></a></li>
                                            <li><a class="i-border" href="https://www.facebook.com/profile.php?id=61566337820545" target="_blank"><i
                                                        class="fa-brands fa-facebook-f"></i></a></li>
                                            <li><a class="i-border" href="https://x.com/prestigious_pty" target="_blank"><i
                                                        class="fa-brands fa-x-twitter"></i></a></li>
                                            <li><a class="i-border" href="https://www.tiktok.com/@prestigious.solut?_t=ZS-8yyjYd4fIhz&_r=1" target="_blank"><i
                                                        class="fa-brands fa-tiktok"></i></a></li>
                                            <!--<li><a href="instagram.com/"><i class="fa-brands fa-instagram"></i></a></li>-->
                                        </ul>
                                </div>
                            </div>
                        </div>
                        <div class=" col-xl-2 col-lg-2 col-md-6 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Navigation</h4>
                                    <ul>
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/about">About</a></li>
                                        <li><a href="/services">Services</a></li>
                                        <li><a href="/legal">Legal</a></li>
                                        <li><a href="/contact">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle footer-area footer-tittle">
                                    <h4>Contact</h4>
                                    <div class="">
                                        <span style="color: #c8b568;"><i class="fas fa-phone"></i> </span>
                                        <div class="media-body">
                                            <p><a href="tel:+27780250429">(+27) 78 025 3429</a></p>
                                        </div>
                                    </div>
                                    <div class="">
                                        <span style="color: #c8b568;" > <i class="fas fa-at"></i> </span>
                                        <div class="media-body">
                                            <p><a href="mailto:enquiry@prestigioussolutions.co.za"
                                                    class="__cf_email__">enquiry@prestigioussolutions.co.za</a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="">
                                        <span style="color: #c8b568;"> <i class="fas fa-location-dot"></i> </span>
                                        <div class="footer-area footer-tittle">
                                            <p>Midrand, Johannesburg</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class=" footer-tittle footer-area">
                                    <h4>Opening Hours</h4>
                                    <!-- <p>Subscribe our newsletter to get updates.</p> -->
                                </div>

                                <div class="col-12">
                                <table class="table text-left" style="color: #bbbbbb;">
                                    <tbody class="font-weight-normal text-light">
                                    <tr>
                                        <td>Mon - Thu:</td>
                                        <td>08h00 - 16h00</td>
                                    </tr>
                                    <tr>
                                        <td>Friday:</td>
                                        <td>08h00 - 13h00</td>
                                    </tr>
                                    <tr>
                                        <td>Sat - Sun:</td>
                                        <td>Closed.</td>
                                    </tr>
                                    <tr>
                                        <td>Public Holidays:</td>
                                        <td>Closed.</td>
                                    </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer-bottom-area">
                    <div class="container">
                        <div class="footer-border">
                            <div class="row d-flex align-items-center">
                                <div class="col-xl-12 ">
                                    <div class="footer-copy-right text-center">
                                        <p>Copyright &copy;
                                            <script>document.write(new Date().getFullYear());</script> Prestigious
                                            Solutions (Pty) Ltd. All rights
                                            reserved. Designed with <i class="fa fa-heart color-danger"
                                                aria-hidden="true"></i>
                                            by <a href="https://smconnect.co.za" target="_blank">smconnect</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>