<header>
        <div class="header-area header-transparent">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper d-flex align-items-center ">
                        <div class="left-content d-flex align-items-center justify-content-space-between">
                            <div class="logo-container">
                                <a href="/">
                                    <img src="../../../assets/img/icon/Android.png" alt="Prestigious Solutions (Pty) Ltd"
                                        class="logo small-logo">
                                    <img src="../../../assets/img/logo/logo2.png" alt="Prestigious Solutions (Pty) Ltd"
                                        class="logo large-logo">
                                </a>
                            </div>
                            <div class="main-menu d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/about">About</a></li>
                                        <li><a href="/services">Services</a></li>
                                        <li><a href="/legal">Legal</a></li>
                                        <li><a href="/contact">Contact</a></li>
                                        <li><a class="p-1 js-open-lead-form" style="background-color: #02cefc;" href="#" data-zoho-open>Request Quote</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>